# node modules
node_modules/

# env (IMPORTANT - never push secrets)
.env

# logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# uploads (multer temp files)
uploads/

# build / dist
dist/
build/

# vscode
.vscode/

# optional
package-lock.json